@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

/* This is added to accout for the row margin during resizing of home page when sizing down to a smaller device/viewport. */
@media (max-width: 1014px) {

  [class*="col-"] {
      margin-bottom: 15px;
  }

}

.circletxt {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  font-size: 24px;
  color: #000;
  line-height: 150px;
  text-align: center;
  background: #65B1E8;
  display: block;
}

.circlelab {
  font-size: 24px;
  color: #000;
  line-height: 60px;
  text-align: center;
  margin-bottom: 20px;
}

a.white:link {
  color:#ffff;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
}

a.white:visited {
  color: #ffff;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
}

a.white:hover {
  color: #ffff;
  background-color: transparent;
  text-decoration: underline;
  font-weight: bold;
}

a.white:active {
  color: #0000;
  background-color: transparent;
  text-decoration: underline;
  font-weight: bold;
}

.programheader {
  font: 32px sans-serif;
  color:#C94A4A;
  font-weight: bold;
  position: relative;
  text-align: center;
  z-index: 1;
}

.programheader:before {
  border-top: 5px solid #C94A4A;
  content:"";
  margin: 0 auto; /* this centers the line to the full width specified */
  position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
  top: 17px; left: 0; right: 0; bottom: 0;
  width: 100%;
  z-index: -1;
}

.programheader span { 
  /* to hide the lines from behind the text, you have to set the background color the same as the container */ 
  background: #fff; 
  padding: 0 15px; 
}

.programheaderRed {
  font: 32px sans-serif;
  color:#C94A4A;
  font-weight: bold;
  position: relative;
  text-align: center;
  z-index: 1;
}

.programheaderRed:before {
  border-top: 5px solid #C94A4A;
  content:"";
  margin: 0 auto; /* this centers the line to the full width specified */
  position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
  top: 17px; left: 0; right: 0; bottom: 0;
  width: 100%;
  z-index: -1;
}

.programheaderRed span { 
  /* to hide the lines from behind the text, you have to set the background color the same as the container */ 
  background: #F8F8F8; 
  padding: 0 15px; 
}

.schoolheader {
  font: 32px sans-serif;
  color:#C94A4A;
  font-weight: bold;
  position: relative;
  text-align: center;
  z-index: 1;
}

.schoolheader:before {
  border-top: 5px solid #C94A4A;
  border-left: 5px solid #C94A4A;
  border-right: 5px solid #C94A4A;
  border-bottom: 5px solid #C94A4A;
  content:"";
  margin: 0 auto; /* this centers the line to the full width specified */
  position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
  top: 17px; left: 0; right: 0; bottom: 0;
  width: 100%;
  z-index: -1;
}

.schoolheader span { 
  /* to hide the lines from behind the text, you have to set the background color the same as the container */ 
  background: #fff; 
  padding: 0 15px; 
}

.programnameheader {
  font: 32px sans-serif;
  color:#C94A4A;
  font-weight: bold;
  position: relative;
  text-align: center;
  z-index: 1;
}

.programnameheader:before {
  border-top: 1px solid #D8D8D8;
  content:"";
  margin: 0 auto; /* this centers the line to the full width specified */
  position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
  top: 10px; left: 0; right: 0; bottom: 0;
  width: 90%;
  z-index: -1;
}

.programnameheader span { 
  /* to hide the lines from behind the text, you have to set the background color the same as the container */ 
  background: #fff; 
  padding: 0 15px; 
}


.careerborder {
  font: 32px sans-serif;
  font-weight: bold;
  position: relative;
  text-align: center;
  z-index: 1;
}
.careerborder:before{
  border-top: 2px solid #E89637;
  content:"";
  margin: 0 auto;
  position: absolute;
  top: -20px; left: 0; right: 0; bottom: 0;
  width: 90%;
  z-index: -1;
}

.careerborder2 {
  font: 32px sans-serif;
  font-weight: bold;
  position: relative;
  text-align: center;
  z-index: 1;
}
.careerborder2:before{
  border-top: 2px solid #5799D6;
  content:"";
  margin: 0 auto;
  position: absolute;
  top: -20px; left: 0; right: 0; bottom: 0;
  width: 90%;
  z-index: -1;
}

.careerborder3 {
  font: 32px sans-serif;
  font-weight: bold;
  position: relative;
  text-align: center;
  z-index: 1;
}
.careerborder3:before{
  border-top: 2px solid #78D657;
  content:"";
  margin: 0 auto;
  position: absolute;
  top: -20px; left: 0; right: 0; bottom: 0;
  width: 90%;
  z-index: -1;
}

.careerborder4 {
  font: 32px sans-serif;
  font-weight: bold;
  position: relative;
  text-align: center;
  z-index: 1;
}
.careerborder4:before{
  border-top: 2px solid #C94A4A;
  content:"";
  margin: 0 auto;
  position: absolute;
  top: -20px; left: 0; right: 0; bottom: 0;
  width: 90%;
  z-index: -1;
}

.homeheader {  
  font: 32px sans-serif;
  font-weight: bold;
  position: relative;
  text-align: left;
  z-index: 1;
}

.homeheader:before {
  border-top: 5px solid #78D657;
  content:"";
  margin: 0 auto; /* this centers the line to the full width specified */
  position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
  top: 17px; left: 0; right: 0; bottom: 0;
  width: 100%;
  z-index: -1;
}

.homeheader span { 
  /* to hide the lines from behind the text, you have to set the background color the same as the container */ 
  background: #fff; 
  padding: 0 15px; 
}

.OpenSans {
  font-family: 'Open Sans', sans-serif;
}

.OpenSansTitle {
  font-family: 'Open Sans', sans-serif;
}

.highlightRed{
  color: #C94A4A
}

.highlightBlue{
  color: #5799D6
}

.highlightGreen{
  color: #78D657
}

.highlightOrange{
  color: #E89637
}