@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

/* This is added to accout for the row margin during resizing of home page when sizing down to a smaller device/viewport. */
@media (max-width: 1014px) {

  [class*="col-"] {
      margin-bottom: 15px;
  }

}

.circletxt {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  font-size: 24px;
  color: #000;
  line-height: 150px;
  text-align: center;
  background: #65B1E8;
  display: block;
}

.circlelab {
  font-size: 24px;
  color: #000;
  line-height: 60px;
  text-align: center;
  margin-bottom: 20px;
}

a:link {
  color:#ffff;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
}

a:visited {
  color: #ffff;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #ffff;
  background-color: transparent;
  text-decoration: underline;
  font-weight: bold;
}

a:active {
  color: #0000;
  background-color: transparent;
  text-decoration: underline;
  font-weight: bold;
}